body {
    background-color: #2B0302;
}

/* Use % for fluid container */
.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 1.25rem; /* Use rem for padding */
}

/* Use % and fr for fluid grid layout */
#movie-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* fr is fluid by nature */
    gap: 1rem; /* Use rem for gap */
}

/* Use rem for padding, and remove border */
.movie-card {
    margin: 2%;
    padding: 10%;
    border-radius: 2rem;
    background-color: #050204;
    border: none;
    text-align: center;
}

/* Use % for fluid image size */
.movie-card img {
    border-radius: 2rem;
    max-width: 100%;
    cursor: pointer;
    height: auto;
}

.movie-card img:hover {
    opacity: 50%;
}

/* Use rem for margin and em for fluid text size */
.movie-title {
    margin-top: 0.75rem;
    font-size: 1.2em;
    font-family: Bahnschrift, sans-serif;
    color: #fff;
    cursor: default;
}

.movie-period {
    margin-top: 0.75rem;
    font-size: 0.8em;
    font-family: Bahnschrift, sans-serif;
    color: lightgray;
    cursor: default;
}

/* Use rem for text size, padding, and other dimensions */
.button-style {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: Bahnschrift, sans-serif;
    background-color: #990601;
    color: #fff;
    padding: 0.5rem;
    border: none;
    margin: 5% auto 0 auto;
    border-radius: 2rem;
    cursor: pointer;
    width: 80%; /* Use % for fluid width */
}

.button-style:hover {
    opacity: 50%;
}

#movieFilter {
    display: block;
    text-align: left;
    text-decoration: none;
    font-size: 0.8rem;
    font-family: Bahnschrift, sans-serif;
    background-color: #990601;
    color: #fff;
    padding: 0.5rem 0.5rem 0.5rem 0.2rem;
    border: none;
    margin: 10% 1% 5% auto;
    border-radius: 2rem;
    cursor: pointer;
    width: 10%; /* Use % for fluid width */
}

.selectedFilter {
    margin: 2%;
    padding: 10%;
    border-radius: 2rem;
    background-color: #050204;
    border: none;
    text-align: left;
}

/*Loading screen CSS*/
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    flex-direction: column; /* Change the flex direction to column */
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.loading-spinner {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 3s linear infinite;
}

.loading-screen p {
    color: white;
    font-size: 16px;
    margin-top: 15px; /* Adjust the margin as needed */
    font-family: sans-serif, sans-serif;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}