/* General styles */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #F0F2F4;
    margin: 0;
    padding: 0;
}

#tableContainer {
    overflow: auto;
    max-height: 100vh;
}

#movieTable {
    border-collapse: collapse;
    font-size: 18px;
    text-align: left;
    width: 100%;
}

#movieTable thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}

#movieTable th,
#movieTable td {
    border: 1px solid #dddddd;
    padding: 12px 15px;
}

#movieTable tr {
    border-bottom: 1px solid #dddddd;
}

#movieTable tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#movieTable tr:last-of-type {
    border-bottom: 2px solid #009879;
}

/* Button styles */
button {
    background-color: #009879;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #007B63;
}

/* Input styles */
input[type=text],
input[type=number],
input[type=date] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#editMovieModal {
    position: fixed;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.hidden {
    display: none;
}