/* ----------------- */
/* General styles */
/* ----------------- */

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #F0F2F4;
    margin: 0;
    padding: 0;
}

/* ----------------- */
/* Table styles */
/* ----------------- */

#tableContainer {
    max-height: 100vh;
    overflow: auto;
}

#movieTable {
    width: 100%;
    font-size: 18px;
    text-align: left;
    border-collapse: collapse;
}

#movieTable thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}

#movieTable th,
#movieTable td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
}

#movieTable tr {
    border-bottom: 1px solid #dddddd;
}

#movieTable tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#movieTable tr:last-of-type {
    border-bottom: 2px solid #009879;
}

/* ----------------- */
/* Button styles */
/* ----------------- */

button {
    background-color: #009879;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #007B63;
}

/* ----------------- */
/* Input styles */
/* ----------------- */

/* ----------------- */
/* Modal styles */
/* ----------------- */

#editMovieModal {

    position: fixed;
    top: 10%;
    bottom: 10%;
    left: 10%;
    right: 10%;
    background-color: #dddddd;
    z-index: 1000;
    overflow-y: auto; /* Added overflow-y */
}

#innerModal{
    display: flex;
    flex-direction: column;
    margin: 5%;
    padding: 3%;
    background-color: #050204;
}

#innerModal label {
    width: 95%;
    padding: 1.5%;
    margin: 0 0 1% 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #ffffff;
}

#innerModal input
{
    width: 95%;
    padding: 1.5%;
    margin-bottom: 3%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#innerModal button {
    width: 20%;
    padding: 1.5%;
    margin: 1.5% auto 0 auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #009879;
    color: #ffffff;
}

/* ----------------- */
/* Hidden element */
/* ----------------- */

.hidden {
    display: none;
}