<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>

    <link href="Navbar/navbar.css" rel="stylesheet">
    <link href="Footer/footer.css" rel="stylesheet">
    <link href="test.css" rel="stylesheet">


</head>

<body onload="loadNavbar(); loadFooter();">

<nav id="navbar"></nav>
<div id="content">
    Here is content <br>
</div>
<footer id="footer"></footer>

</body>

<script src="Navbar/navbar.js"></script>
<script src="Footer/footer.js"></script>
</html>