<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>

<nav id="navbar">
    <ul>
        <li><a href="?">Home</a></li>
        <li><a href="?">Upcoming movies</a></li>
        <li><a href="?">Something</a></li>
        <div id="searchbar-div">
                <input id="searchbar-input" placeholder="Search..." type="text">
                <datalist id="movies-Suggestions"></datalist>
                <button id="searchbar-button" type="submit">Search</button>
                <button id="fillSuggestions" type="button">Fill suggestions</button>
        </div>
    </ul>
</nav>


</body>
<script src="navbar.js"></script>
<script src="navbarSearch.js"></script>
</html>