body {
    margin: 0;
    padding: 0;

}

nav {
    background-color: #541108;
    margin: 0;
    padding: 10px 0;
    position: sticky;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li
{
    display: inline;
    margin-right: 20px;
    margin-left: 20px;
}

.navbar-buttons:hover
{
    color: #ff9900;
}

a
{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

#searchbar-div
{
    float: right;
    padding-right: 90px;
}

#searchbar-input:focus
{
    outline: none;
}

#searchbar-input
{
    background-color: #1e2738;
    color: #bcceef;
    border-radius: 7px 7px 7px 7px;
    height: 20px;
    width: 169px;
    border: none;
    margin-right: -2px;
    margin-left: 46px;
}

.search-options
{
    height: auto;
    width: auto;
    background-color: #1e2738;
    position: absolute;
}

.search-options a:hover
{
    color: #ff9900;
}

.search-options a
{
    display: flex;
    width: auto;
    height: auto;
    color: #bcceef;
}

.search-options img
{
    display: block;
    max-width: 80px;
    max-height: 80px;
}

.search-options div
{
    height: 76px;
    width: 178px;
    display: flex;
    justify-content: center;
    align-items: center;
}