<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>

<nav id="navbar">
    <ul>
        <li><a href="?">Home</a> </li>
        <li><a href="?">Upcoming movies</a> </li>
        <li><a href="?">Something</a></li>
        <div id="searchbar-div">
            <form action="selectedmovie/{ID}" method="GET">
                <input id="Searchbar-input" type="text" list="movieSuggestions" placeholder="Search...">
                <datalist id="movieSuggestions">

                </datalist>
                <button id="Searchbar-Button" type="submit">Search</button>
            </form>
        </div>
    </ul>
</nav>



</body>
<script src="navbar.js"></script>
</html>