body {
    margin: 0;
    padding: 0;

}

nav {
    background-color: #541108;
    margin: 0;
    padding: 10px 0;
    position: sticky;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li
{
    display: inline;
    margin-right: 20px;
    margin-left: 20px;
}

a
{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.navbar-buttons:hover
{
    color: #ff9900;
}

#searchbar-div
{
    float: right;
    padding-right: 20px;
}

#Searchbar-input
{
    background-color: #1e2738;
    color: #7a7777;
    border-radius: 7px 0px 0px 7px;
    height: 20px;
    border: none;
    margin-right: -2px;
}

.search-options a:hover
{
    color: #ff9900;
}

.search-options a
{
    display: block;
    width: auto;
    height: auto;
}

.search-options a img
{
    display: block;
}

.search-options
{
    height: auto;
    width: auto;
}

#movie-suggestions
{
    background-color: white;
}

#movie-suggestion-list
{
    background-color: grey;
    position: absolute;
}