<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="navbar.js"></script>
    <script src="navbarSearch.js"></script>


</head>
<body>

<nav id="navbar">
    <ul>
        <li><a class="navbar-buttons" href="?">Home</a></li>
        <li><a class="navbar-buttons" href="?">Upcoming movies</a></li>
        <li><a class="navbar-buttons" href="?">Something</a></li>
        <div id="searchbar-div">
                <input id="searchbar-input" placeholder="Search..." type="text">
                <div id="movie-suggestion-list">
                    <datalist id="movie-suggestions"></datalist>
                </div>
            <div id="search-options" class="search-options"></div>
        </div>
    </ul>
</nav>


</body>

</html>