/* General container adjustments */
body {
    background-color: #2B0302;
}

#upper-container, #lower-container {
    display: flex;
    flex-direction: row;
    padding: 10%;
    border: none;
}

/* Picture */
#picture img {
    width: 100%;
    height: auto;
}

#picture {
    width: 30%;
    height: auto;
    margin-right: 10%;
}

/* Title */
#title-showtimes-container {
    width: 70%;
    flex-direction: column;
    color: #cccccc;
}

#title {
    margin-top: 0.5%;
    margin-bottom: 10%;
    color: #cccccc;
}

/* Showtimes */
#showtimes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  /* Wrap to the next line */
    color: #cccccc;
    gap: 5%;  /* Space between boxes */
}

#showtimes > div {
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 5px;  /* Rounded corners */
}

/* Description and Movie Details */
#lower-container {
    justify-content: center;
    align-items: center;
    text-align: center;
}

#description, #movie-details {
    width: 50%;
    color: #cccccc;
    margin: 15px;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}
