#footer-template {
    background-color: #541108;
    padding: 10px 0;
    margin-top: auto;
}

#footer-template body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#footer-template ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: auto
}

#footer-template li {
    display: inline;
    margin-right: 20px;
    margin-left: 20px;

}

#footer-template a:hover {
    color: #5b5b5b;
}

#footer-template a {
    text-decoration: none;
    color: #9f9e9e;
    font-weight: bold;
    font-family: Bahnschrift, sans-serif;
}